---
id: about
title: Over Denvelop
---
<div class="floaty-columns">
    <div class="page">
        <h1>Over Denvelop</h1>
        <p>Deze website heb ik zelf gebouwd, maar ik heb de nodige tools, bibliotheken en frameworks gebruikt. Op deze pagina heb ik een overzicht gemaakt van alle projecten van andere mensen die mij hebben geholpen. Dank aan die projecten dus!</p>
    </div>
    <div class="page">
        <p><%= logo 'nanoc' %><a class="project-ref" href="http://nanoc.ws/">Nanoc</a> is een tool om statische websites mee te genereren. Het is geschreven in <a class="project-ref" href="https://www.ruby-lang.org/">Ruby</a>, eenvoudig uit te breiden en fijn om mee te werken omdat er een simpele webserver bij zit die je kunt gebruiken om lokaal te testen. Op deze site maakt Nanoc niet alleen HTML-, maar ook JSON-bestanden aan. Verder draait het automatisch de LESS (zie onder) compiler wanneer nodig, comprimeert het de JavaScript en CSS met de <a class="project-ref" href="http://yui.github.io/yuicompressor/">YUI Compressor</a> en tenslotte maakt het SVG-bestanden van de plaatjes die ik in Ipe (zie onder) maak. Alle HTML wordt gefilterd door <a class="project-ref" href="http://tidy.sourceforge.net/">HTML Tidy</a> en zou te allen tijde <a href="https://validator.w3.org/nu/?doc=http%3A%2F%2Fwww.denvelop.nl">aan de standaard moeten voldoen</a>.</p>
    </div>
    <div class="page">
        <p><%= logo 'less' %><a class="project-ref" href="http://lesscss.org/">LESS</a> is een uitbreiding op de CSS standaard die het eenvoudiger maakt om opmaak voor een website te schrijven en onderhouden. Omdat browsers uiteraard nog steeds "alleen maar" CSS begrijpen, is er een compiler die alles omzet naar CSS. Het aanroepen van die compiler doet Nanoc automatisch op deze site. Ik heb LESS leren kennen via <a class="project-ref" href="http://getbootstrap.com/">Bootstrap</a> (die het ook gebruiken, intern) en heb voor deze site ook een paar dingen (zoals <a href="https://github.com/twbs/bootstrap/blob/master/less/normalize.less">normalize.less</a>) van ze overgenomen.</p>
    </div>
    <div class="page">
        <p><%= logo 'ipe' %><a class="project-ref" href="http://sourceforge.net/projects/ipe7/">Ipe</a> is een tekenprogramma dat gebruikt kan worden om vectorplaatjes mee te maken. Het is vooral gericht op het maken van geometrische plaatjes (zeer geschikt voor technische afbeeldingen). Zo ken ik het programma ook: via mijn studie informatica. Je kunt het programma echter ook gebruiken om andere dingen mee te produceren, zoals op deze site te zien is. Alle afbeeldingen op deze site (behalve de logo's op deze pagina natuurlijk) zijn gemaakt met Ipe en worden via Nanoc omgezet in SVG, wat moderne browsers begrijpen.</p>
    </div>
    <div class="page">
        Het ontwerp van deze site is losjes gebaseerd op Google's <a class="project-ref" href="www.google.com/design/spec/material-design/">Material Design</a>. Met name het kleurenschema en gebruik van "pagina's" sprak me aan. Ook heb ik, hoe kan het ook anders, regelmatig antwoorden gevonden op vraag-en-antwoord site <a class="project-ref" href="http://stackoverflow.com/">Stack Overflow</a>.
    </div>
</div>
