---
yuiCompress: !!bool true
---

// Using CSS property order as described loosely here:
//    http://markdotto.com/2011/11/29/css-property-order/.
// - positioning
// - display
// - box model (height, padding, margin, ...)
// - visual (font, color, background, border, box-shadow, ...)

@import "fonts.less";
@import "mixins.less";
@import "variables.less";
@import "normalize.less";

html {
    height: 100%;
    font-family: @font-family-main;
    font-size: @font-size;
    line-height: @line-height;
}

h1, h2, h3, h4, h5, h6 {
    font-family: @font-family-head;
}

body {
    background: @color-main;
    height: 100%;
}

a {
    color: @color-main-dark;
    font-weight: bold;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
        color: @color-main;
    }
}

@import "header.less";
@import "content.less";
@import "footer.less";
@import "utilities.less";
