---
yuiCompress: !!bool false
---

// Using CSS property order as described loosely here:
//    http://markdotto.com/2011/11/29/css-property-order/.
// - positioning
// - display
// - box model (height, padding, margin, ...)
// - visual (font, color, background, border, box-shadow, ...)

@import "mixins.less";
@import "variables.less";
@import "normalize.less";

html {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: @font-size;
    line-height: @line-height;
}

body {
    background: @color-main;
}

@import "header.less";
@import "utilities.less";

// TODO: make more generic and such
#content {
    margin: @spacing-lg;
    padding: @spacing-md;
    .text-color-main();
    background: @white;
    .shadow();

    h1 {
        line-height: 1.1;
    }

    h1, p, ul {
        margin: @spacing-md 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
