@menu-border: 2px;
@menu-padding-h: @spacing-md;
@menu-padding-v: @spacing-md;

#header {
    background: @color-main-dark;
}

#loading-gear {
    display: none; // this is shown by JS
}

#logo {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: (@line-height-px + 2 * @menu-padding-v);
    margin: 0;
    padding: 0;

    & > .logo-layer {
        height: @line-height-px;
        margin: @menu-padding-v @menu-padding-h;
        padding: 0;

        &.logo-layer-fg,
        &.logo-layer-icon {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 5;
        }

        &.logo-layer-icon {
            z-index: 2;
        }
    }

    & > .nav-icon {
        position: absolute;
        top: 15%;
        left: 15%;
        z-index: 1;
        height: @line-height-px;
        margin: @menu-padding-v @menu-padding-h;
        padding: 0;

        &.active {
            z-index: 7;
        }
    }
}

#lang-select {
    float: right;
}

#lang-select,
#nav {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;

    & > li {
        display: inline-block;
        margin: 0;
        padding: 0;
        list-style-type: none;

        &.active {
            border-bottom: @menu-border solid @white;

            & > a,
            & > span {
                padding-bottom: (@menu-padding-v - @menu-border);
                .text-color-inverted-main();
            }
        }

        & > a,
        & > span {
            display: block;
            margin: 0;
            padding: @menu-padding-v @menu-padding-h;
            .text-color-inverted-secondary();
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}
