#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

#
# ---- PREPROCESS RULES --------------------------------------------------------
#

preprocess do
    items.select{ |item| item[:title] != nil }.
        each{ |item|
            # set title of the item
            item[:title_full] = 'Denvelop - ' + item[:title]
            # build the URL of the item, which depends on the language of the
            # item and the default language of the site
            splitId = item.identifier.without_ext.split('/')
            # special handling for index files
            if splitId[-1] == 'index' then
                splitId.pop
            end
            joinId = (splitId[2] == default_language ?
                      splitId[3..-1] : splitId[2..-1]).join('/')
            # set the URL
            item[:url] = (joinId.length > 0 ? '/' : '') + joinId + '/'
        }
end

#
# ---- COMPILE RULES -----------------------------------------------------------
#

compile '/favicon.*' do
    nil
end

compile '/img/**/*' do
    if item[:extension] == 'ipe'
        filter :ipe
    end
end

compile '/items/**/*' do
    filter :erb
    layout '/default.html'
    filter :tidy
    if @config[:relativize_paths]
        filter :relativize_paths, :type => :html
    end
    filter :strip_space
end

compile '/items/**/*', :rep => :json do
    filter :erb
    layout '/json.html'
    if @config[:relativize_paths]
        filter :relativize_paths, :type => :css
    end
end

compile '/js/**/*' do
    filter :erb
    if item[:yuiCompress]
        filter :yui_compressor, :type => :js
    end
end

compile '/less/*' do
    if item.identifier.without_ext.split('/').last == 'denvelop'
        filter :less
        if @config[:compress_css]
            filter :yui_compressor, :type => :css
        end
        if @config[:relativize_paths]
            filter :relativize_paths, :type => :css
        end
    else
        nil
    end
end

compile '/less/themes/*' do
    filter :less
    if @config[:compress_css]
        filter :yui_compressor, :type => :css
    end
    if @config[:relativize_paths]
        filter :relativize_paths, :type => :css
    end
end

compile '/webfonts/**/*' do
    nil
end

#
# ---- ROUTING RULES -----------------------------------------------------------
#

route '/favicon.*' do
    item.identifier.to_s
end

route '/img/**/*' do
    if item[:extension] == 'ipe'
        item.identifier.with_ext 'svg'
    else
        item.identifier.to_s
    end
end

route '/items/**/*' do
    item[:url] + 'index.html'
end

route '/items/**/*', :rep => :json do
    item[:url] + 'page.json'
end

route '/js/**/*' do
    item.identifier.with_ext 'js'
end

route '/less/*' do
    if item.identifier.without_ext.split('/').last == 'denvelop'
        item.identifier.with_ext('css').gsub('less', 'css')
    else
        nil
    end
end

route '/less/themes/*' do
    item.identifier.with_ext('css').gsub('less', 'css')
end

route '/webfonts/**/*' do
    item.identifier.to_s
end

#
# ---- LAYOUT RULES ------------------------------------------------------------
#

layout '/**/*', :erb
