<div id="logo">
    <object id="envelope" class="logo-layer" type="image/svg+xml" data="<%= @items['/img/envelope/'].path %>"></object>
    <object id="loading-gear" class="logo-layer logo-layer-icon" type="image/svg+xml" data="<%= @items['/img/gear/'].path %>"></object>
    <%
        @items.select do |i|
            i.identifier.chop.start_with?('/img/icon-')
        end.each do |i|
            i_id = i.identifier.chop.split('/').last.split('-')[1..-1].join('-')
            active = (@item[:id] === i_id)
    %>
    <object id="nav-icon-<%= i_id %>" class="nav-icon<%= active ? ' active' : '' %>" type="image/svg+xml" data="<%= i.path %>" data-id="<%= i_id %>"></object>
    <%  end %>
</div>
<ol id="nav">
    <%
        ['home', 'about'].each do |id|
            an_item = item_for_id(id, @item)
            if an_item.path == @item.path
    %>
    <li class="active">
        <span data-id="<%= an_item[:id] %>" data-url="<%= an_item.path %>"><%= an_item[:title] %></span>
    </li>
    <%      else %>
    <li>
        <a data-id="<%= an_item[:id] %>" data-url="<%= an_item.path %>" href="<%= an_item.path %>"><%= an_item[:title] %></a>
    </li>
    <%
            end
        end
    %>
</ol>
<ol id="lang-select">
    <% translations_of(@item).each do |t| %>
    <li<% if @item == t %> class="active"<% end %>>
    <% if @item == t %>
        <span lang="<%= language_code_of(t) %>">
            <%= language_code_of(t).upcase %>
        </span>
    <% else %>
        <a href="<%= t.path %>"
                data-id="<%= t[:id] %>"
                data-url="<%= t.path %>"
                lang="<%= language_code_of(t) %>"
                hreflang="<%= language_code_of(t) %>">
            <%= language_code_of(t).upcase %>
        </a>
    <% end %>
    </li>
    <% end %>
</ol>
