<div id="logo">
    <object type="image/svg+xml" data="<%= @items['/img/envelope/'].path %>"></object>
</div>
<ol id="nav">
    <%
        ['home', 'about'].each do |id|
            an_item = item_for_id(id, @item)
            if an_item.path == @item.path
    %>
    <li class="active">
        <span href="<%= an_item.path %>"><%= an_item[:title] %></span>
    </li>
    <%      else %>
    <li>
        <a href="<%= an_item.path %>"><%= an_item[:title] %></a>
    </li>
    <%
            end
        end
    %>
</ol>
<ol id="lang-select">
    <% translations_of(@item).each do |t| %>
    <li<% if @item == t %> class="active"<% end %>>
    <% if @item == t %>
        <span lang="<%= language_code_of(t) %>">
            <%= language_code_of(t).upcase %>
        </span>
    <% else %>
        <a href="<%= t.path %>"
                lang="<%= language_code_of(t) %>"
                hreflang="<%= language_code_of(t) %>">
            <%= language_code_of(t).upcase %>
        </a>
    <% end %>
    </li>
    <% end %>
</ol>
