<%

require 'json'

# based on the render function of Nanoc::Helpers::Rendering
rpFilter = Nanoc::Filters::RelativizePaths.new({
        :content    => nil,
        :item       => @item,
        :item_rep   => @item_rep,
        :items      => @items,
        :layout     => @layout,
        :layouts    => @layouts,
        :config     => @config,
        :site       => @site
      })
stripFilter = StripSpaceFilter.new({
        :content    => nil,
        :item       => @item,
        :item_rep   => @item_rep,
        :items      => @items,
        :layout     => @layout,
        :layouts    => @layouts,
        :config     => @config,
        :site       => @site
      })

# find item language
lang = item.identifier.without_ext.split('/')[2]

# build page information
page = {
    :id => @item[:id],
    :title => @item[:title_full],
    :url => @item[:url],
    :header => rpFilter.run(render('/header.html'), :type => :html),
    :html => stripFilter.run(rpFilter.run(yield, :type => :html)),
    :lang => lang
}

%>
<%= JSON.generate(page) %>
