---
id: home
title: Home
---
<div class="page">
    <h1>Hey there!</h1>
    <p>Welcome to Denvelop! This site is my playground as a developer. It is also a way of showing what is possible and what I like on websites. Do you want to know <%= nav_link @items['/items/en/whoami.*'], 'more about me' %>? Or are you interested in <%= nav_link @items['/items/en/about.*'], 'how this site was built' %>? Or are you just looking around?</p>
    <p>Oh, by the way. There is a cute little feature hidden on this website. Kudos if you find it.</p>
</div>
<div class="page">
    <h1>Finding me</h1>
    <div class="external-account">
        <%= logo 'TUe', 'https://www.tue.nl/en/university/departments/mathematics-and-computer-science/the-department/staff/detail/ep/e/d/ep-uid/20106752/' %>
        <span class="description">You can find contact details on my staff page, at the TU/e website.</span>
    </div>
    <div class="external-account">
        <%= logo 'GitHub', 'https://github.com/Caster' %>
        <span class="description">GitHub hosts the code behind this website, plus some hobby projects of mine.</span>
    </div>
    <div class="external-account">
        <%= logo 'Facebook', 'https://www.facebook.com/thom.castermans' %>
        <span class="description">I am (not really) active on Facebook.  I do respond to messages (yay for mail alerts).</span>
    </div>
    <div class="external-account">
        <%= logo 'Twitter', 'https://twitter.com/ThomCastermans' %>
        <span class="description">You can find me (seldomly) on Twitter. I do respond to messages (yay for mail alerts).</span>
    </div>
</div>
